<div class="flor-container position-relative mx-auto mt-4 mb-4">
    <div class="glass">
        <div class="shine"></div>
    </div>
    <div class="thorns">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="leaves">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="petals">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="deadPetals">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="texto-flor mt-3 text-center w-100">
        <h5 class="text-white fw-bold mb-0">Mi amor por ti durará hasta que caiga el último pétalo ❤️</h5>
    </div>
</div>